{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="{% static 'assets/images/favicon.png'%}" sizes="35x35" type="image/png">
        <title>Maktab - The Islamic Center HTML5 Template</title>

        <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/jquery.bootstrap-touchspin.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/perfect-scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/color.css' %}">
    </head>
</head>
<body>
    <header>
        <nav>
            <!-- Common navigation elements go here -->
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}s
    </main>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/js/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- <script src="{% static 'assets/js/particles.min.js"></script>
    <script src="{% static 'assets/js/particle-int.js"></script> -->
    <script src="{% static 'assets/js/musicplayer-min.js' %}"></script>
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>